<!DOCTYPE html>
<h1> Create a Team of Heroes! </h1>

<form action="/super-hero" method="post">
  <label for="team_name">Team Name:</labelfor>
  <input type="text" name="name" id="name">
  <br>
  <label for="team_motto">Team Motto:</label>
  <input type="text" name="motto" id="motto">
</form>
